.contenedor{
    min-height: 100vh;
    position: relative;
    height: 100vh;
    background-color: black;
}
body{
    margin: 0;
}
.presentacion{
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.texto{
    background-color: rgb(0, 0, 0);
}
button{
    width: 150px;
    text-align: center;
    list-style: none;
    height: 30px;
    margin: 0 0 3px 0;
    display: flex;
    justify-content: space-around;
    border: 1 px solid black;
    background-image: linear-gradient(180deg, white, rgb(68, 174, 68));
}
a{
    text-decoration: none;
}
pre{
    color: green;
    background-color: rgba(0, 0, 0, 0.979);
}
samp{
    color: green;
    background-color: black;
    text-align: center;
}