/* contenedores principales */
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    align-items: center;

    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    font-family: sans-serif;
    margin: 0;
    width: 100vw;
    overflow-x: auto;
}
.contenedor{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 2500px;
}
.contenedor-main{
    display: flex;
    width: 100vw;
    height:3800px ;
}
main{
    width: 100vw;
    margin: 0;     
}

footer{
    display: flex;
    height: 100px;
    justify-content: space-between;    
    background-color: black;
    text-align: center
}
/* personalizacion del header */
.logo{display: flex;}
a{
    text-decoration: none;
    color: white;
}
a img{
    height: 70px;
}
nav a{
    padding-right: 10px;
    font-weight: 900;
    font-size: large;
}
a h2{
    margin-left:40px;
    align-self: center;
}
header nav{
    margin-right: 300px;
}
nav a:hover{
    color: green;
}

/* css video de portada */
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 200px;
    margin: 0;
    position: relative;
    z-index: 2;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.contenedorvideo{
    margin: 0;
    position: relative;
    height: 655px;
    width: 100vw;
    background-color: black;
}
button{
    width: 150px;
    text-align: center;
    list-style: none;
    height: 30px;
    margin: 0 0 3px 0;
    display: flex;
    justify-content: space-around;
    border: 1 px solid black;
    background-image: linear-gradient(180deg, white, rgb(68, 174, 68));
}
a{
    text-decoration: none;
}
pre{
    margin-top: 80px;
    color: green;
    background-color: rgba(0, 0, 0, 0.979);
    border-style: groove;
    padding-right: 120px;
}
samp{
    color: green;
    background-color: black;
    text-align: center;
}
/* separador */
.separador{
    height: 300px;
    display: flex;
    width: 100vw;
    margin: 0;
}
.separador-frase h1{
    color: white;
}

.separador-img{
    width: 50vw;
    align-items: left;
}
.separador-frase{
    width:50vw ;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.950), rgba(19, 71, 21, 0.825));
}
.separador-frase h1{
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    
}
.separador-img img{
    width: 100vw;
    height: 300px;
}
.pruebas{
    height: 500px;
    background-color: brown;
    display: flex;
    flex-direction: row;
}

/* divs de despues del video */
.main-text{
    height: 750px;
    display: flex;
}
.main-text-foto{
    background-color: white;
    width: 40vw;
    height: 750px;
    display: flex;
}
.main-text-foto img{
    align-self: center;
    width: 400px;
    margin-left: 100px;
}
.main-text-texto{
    background-color: white;
    width: 60vw;
    align-items: center;
}
.main-text-texto1{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text-texto2{
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.main-text-texto2 address a{
    color: black;
}
.main-text-texto1 h2{
    font-size: xx-large;
}

.sobre-mi{
    height:650px ;
}
.sobre-mi-sup{
    height: 250px;
    width: 100vw;
    background-color: white;
}
.sobre-mi-sub{
    height: 450px;
    background-color: white;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
/* tablas */
table{
    border-collapse: collapse;
    border: 1px solid #13e300;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
th,td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #13e300;
}
th{
    background-color: #13e300;
}
.tecnologias:hover {
    background-color: green;
    border-style: hidden;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
.tecnologias2:hover {
    background-color: #13e300;
    border-style: hidden;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
caption{
    background-color: black;
    color: white;
}
/* Contenedor footer */
footer a{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}