body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: black ;
}
.cuerpo{
    border-style: solid;
    border-color: gray;
    width: 700px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    padding-left:10px ;
    padding-right: 20px;
    background-image: linear-gradient(180deg, rgb(230, 230, 230), white, rgb(171, 171, 171));
}

.full{
    border-style: solid;
    border-color: gray;
    /* border-width: 10px 5px; */
    width: 900px;
    border-radius: 30px;
    background-color: white;


}
h1{
    text-align: center;
    letter-spacing: 6px;
    height: 43px;
    margin-left: 3em;
}

h3{
    margin: 0;
}
.verde{
    color: green;
}
.naranja{
    color: darkorange;
}
.contenido{
    display: flex;
    align-items: center;
    margin-bottom: 6px; 
}

.menu{
    display: flex;
    flex-direction: row;
    align-self: baseline;
    width: 150px;
}
hr{
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(116, 255, 47);
}

li{
    width: 90px;
    text-align: center;
    list-style: none;
    height: 30px;
    margin: 0 0 3px 0;
    display: flex;
    justify-content: space-around;
    border: 1 px solid black;
    background-image: linear-gradient(180deg, white, rgb(103, 226, 103));

}
li:hover{
    background-image: linear-gradient(180deg, white, rgb(37, 250, 0));
}
a{
    text-decoration: none;

}
.panoramica{
    display: flex;
    justify-content: center;
}
footer{
    font-style: italic;
    font-size: smaller;
    text-align: center;
    margin-left: 6em;
    color: darkgrey;
}
ul{
    margin:0;
}
.frase{
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin: 0;
    font-size: smaller;
    text-align: center;
    margin-left: 30px;
    font-style: italic;
}